extends layout

block content


  h1#game-name
    | Guess
    span Who?
  div.checked-media-container
    figure
      div.streams
        video.stream(
          id="checked-video"
          autoplay
          playsinline
        )
        figcaption
          button#check-media Check Media
          button#start-call  Join Game
        p#room-status-msg
  main#content
    figure
      div.streams
        video.stream(
          id="self-video"
          autoplay
          playsinline
        )
        video.stream(
          id="remote-video"
          autoplay
        )
  div#scoreboard
    p#score Score
    p#myscore You: 0
    p#peerscore Your opponent: 1
  div#game.game-container
    div.self-board
       div#gameboard.game-item
       div#guesscontain.guess-panel
        div.pickedcard
         img#y(src='images/test.png')
         div#name Your character is
        button#guess I'm Ready to Guess
        button#sub Submit
        input#subtext(placeholder='')
    div#peercontain.peer-board
      p#introduction This is your opponent's board...
      div#gameboard2


  div#togglechat.chat-container
    ul.chat-area
    .chat-box
      form.chat-form(action='')
        input#chat-input(placeholder='')
        button#chat-btn(type='submit') Send


  button#chat-popup Show Chat

  script.
    window.NAMESPACE = "#{namespace}";
