extends layout

block content

  main#content
    figure.streams
      video(
        id="self-video"
        autoplay
        playsinline
      )
      video(
        id="remote-video"
        autoplay
      )
      figcaption
        button#start-call  Start call
        button#start-game Play Game

  p#choose Please choose a character card for the other player to guess.

  div.game-container
       div#gameboard.game-item

  div#gameboard2

  p#introduction This is your opponent's board...
  
  img#y(src='images/test.png')



  div.chat-container
    ul.chat-area
      // test the position of messages
      li Hello
      li.peer Hello
    .chat-box
      form.chat-form
        input#chat-input(placeholder='')
        button#chat-btn(type='submit') Send

  script.
    window.NAMESPACE = "#{namespace}";
