extends layout

block content

  h1#game-name
    | Guess
    span Who?
  div.game-container
    div#gameboard.game-item
    div#pickedcard.game-item
      img#pickedcard-image(src='https://via.placeholder.com/282/e8e4e6/000000?text=?????')
      div#pickedcard-name ??????
  script.
    window.NAMESPACE = "#{namespace}";
