extends layout

block content

  main#content
    figure.streams
      video(
        id="self-video"
        autoplay
        playsinline
      )
      video(
        id="remote-video"
        autoplay
      )
      figcaption
        button#start-call  Start call
        button#start-game Play Game
        button#check-media Check Media

  p#choose Please choose a character card for the other player to guess.
  p#introduction This is your opponent's board...

  div#game.game-container
       div#gameboard.game-item
       img#y(src='images/test.png')
       p#name Your character is
       button#guess I'm Ready to Guess

  div#gameboard2







  div#togglechat.chat-container
    ul.chat-area
    .chat-box
      form.chat-form
        input#chat-input(placeholder='')
        button#chat-btn(type='submit') Send

  script.
    window.NAMESPACE = "#{namespace}";
