doctype html
html
  head
    link(href='https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Source+Serif+Pro&display=swap' rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/site.js')
