body {
  padding: 30px;
  font-family: 'Source Serif Pro', serif;
  background-color: #abd1c6;
}

#game-name {
  color: #e16162;
  font-family: 'Emilys Candy', cursive;
  margin: 0 auto;
  text-align: center;
}

#game-name span {
  color: #001e1d;
}
