@media (min-width: 480px) {
  /* general style */
  body {
    padding: 2em;
    font-family: 'Source Serif Pro', serif;
    background-color: #1FA392;
    }

  p{
    font-size: 12px;
    color: white;
    }

    .MyClass{
    }

  #guess{
    display: none;
    margin: auto;
    margin-top:-12%;
    }

  #name{
    display: none;
    font-size: 18px;
  }

#introduction{
  display: none;
  margin-left: 75%;
  color: white;
  font-size: 19px;
}
img{
  height: 70px;
  width: 50px;;
}
 #gameboard2{
  float: right;
  display:none;
  width: 30%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 5vw);
  grid-gap: 15px;
  }
  button{
  font-size: 16px;
padding:1%;
    display: block;
    margin-top: 2%;
    background-color: #e16162;
    color: white;
    border: none;
}
  h1{

    display:none;
  }

  #choose{
    font-size: 19px;
    margin-bottom: 4%;
    display:none;
    color: white;
    text-align: center;
  }
#button{
  display: none;
  margin: 0.5%;
  border-style: solid;
  padding: 0.2%;
 border-width: 0.7px;
 cursor:pointer;
  }

  .button{
  display: none;
  margin: 0.5%;
  border-style: solid;
  padding: 0.2%;
  border-width: 0.7px;
  cursor:pointer;
}

  /* game title */
  #game-name {
    color: #e16162;
    font-family: 'Emilys Candy', cursive;
    margin: 0 auto 0.5em auto;
    text-align: center;
  }

  #game-name span {
    color: #001e1d;
  }

  /* game container */
  .game-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  /* game item */
  .game-item {
    margin-bottom: 0.5em;
  }

  /* gameboard  */
  #gameboard {
  display: inline-grid;
    //display:none;
    grid-template-columns: repeat(4, 1fr);
  }

  .board-item, #pickedcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.3em 0.3em 0 0.3em;
    background-color: #004643;
  }

  .board-item-image {
    cursor: pointer;
    width: 80%;
    padding: 0.2em;
    border: solid 1px #e8e4e6;
  }

  #pickedcard-image {
    width: 80px;
    padding: 0.25em;
    margin: 0.15em;
    border: solid 1px #e8e4e6;
  }

  .board-item-name, #pickedcard-name {
    color: #e8e4e6;
    text-align: center;
    padding-top: 0.25em;
  }

  #y{

    display: none;
  }

  /* chat box */
  .chat-container {
    margin: auto;
    align-content: center;
    margin-top: 3%;
    /* border-radius: 8px; */
    position: relative;
    height: 10%;
    width: 60%;
    overflow: hidden;
  }

  .chat-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    height: 15%;
  }

  .chat-form {
    display: flex;
  }

  .chat-area {
    display: flex;
    flex-direction: column;
    padding: 22px;
    height: 80%;
    overflow-y: scroll;
    list-style: none;
    margin-top: 0;
    background-color: #e16162;
  }

  li {
    border-radius: 8px;
    background-color: #abd1c6;
    list-style: none;
    align-self: flex-start;
    padding: 12px;
    margin-bottom: 12px;
  }

  li.peer {
    background-color: #e3e3e3;
    align-self: flex-end;
  }

  li:last-of-type {
    margin-bottom: 0;
  }

  #chat-input {
    position: absolute;
    height: 100%;
    width: 90%;
    font-size: 16px;
    border: none;
    overflow: auto;
    outline: none;
    padding-top: 8px;
    padding-left: 8px;
  }

  #chat-btn {
    margin-top: 0;
    position: absolute;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: #f9bc60;
    outline: none;
  }

  #chat-btn:hover {
    cursor: pointer;
    background-color: #ff8e3c;
  }
}

@media (min-width: 768px) {
  /* game title */
  #game-name {
    font-size: 3em;
  }

  /* game item */
  .game-item {
    margin-bottom: 1.5em;
  }

  /* gameboard  */
  .board-item-name, #pickedcard-name {
    font-size: 1.2em;
  }

  .board-item, #pickedcard {
    padding-top: 0.8em;
  }

  #pickedcard-image {
    width: 140px;
    margin-left: 0.6em;
    margin-right: 0.6em;
  }
}

@media (min-width: 992px) {

  /* general style */
  body {
    padding: 2em 5em;
  }

  /* gameboard  */
  #gameboard {
    grid-template-columns: repeat(5, 1fr);
  }

}

@media (min-width: 1200px) {

  /* game title */
  #game-name {
    font-size: 5em;
  }

  /* game container */
  .game-container {
    /* width: 30%; */
    margin: auto;
    display:none;
    //display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  /* game item */
  .game-item {
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 3em;
  }

#opponentsboard{
float: right;

}
  /* gameboard  */
  #gameboard {
    grid-template-columns: repeat(6, 1fr);
  }

  .board-item-name, #pickedcard-name {
    font-size: 1.2em;
  }

#pickedcard-image {
  width: 70%;
  }
}

#content {
  box-sizing: border-box;
  width:50%;
  margin: 0 auto;
}
.videos {
  position: relative;
}
.videos figcaption {
  padding: 12px;
}
video {
  display: block;
  box-sizing: border-box;
  width: 100%;
  background-color: #222;
  border: 1px solid #DDD;
}
#self-video {
  position: absolute;
  width: 20%;
  top: 12px;
  right: 12px;
}
